.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
}

.title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 
li{
    list-style: none;
}
.card{
    display: flex;
    border: 1px solid darkgray;
    width: 50vh;
    height: 35vh;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,1);
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 2rem;
    
    
}

.completed{
    text-decoration: line-through;
}

.list{
    display: flex;
    align-items: left;
    width: 55vh;
    height: 40vh;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

#taskList{
    columns: 2;
    column-gap: 40px;
}

.task{
    font-size: 20;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.enter{
    display: flex;
    gap: 10px;
}

#inputTask{
    outline: none;
    border: 2px solid darkgray;
    border-radius: 2px;
    height: 2rem;
}

#addBtn{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid darkgray;
    border-radius: 2px;
    outline: none;
    height: 2rem;
    width: 3rem;

}

#addBtn:hover{
    font-weight: 700;
}

#addBtn:active{
    color: darkgray;
}

